{% extends "admin/change_form.html" %}
{% load i18n static admin_modify admin_static admin_urls %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css"
          href="{% static 'locations/css/map.css' %}" />
{% endblock %}

{% block field_sets %}
    {% for fieldset in adminform %}
        {% include "admin/includes/fieldset.html" %}
    {% endfor %}
    <script type="text/javascript"
            src="{% static 'locations/js/change_form.js' %}"></script>
{% endblock %}
