{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Ideas" %}</h1>
    {% if object_list %}
        {% for idea in object_list %}
            <a href="{{ idea.get_url_path }}">
                <figure>
                    <img src="{{ idea.picture_thumbnail.url }}" alt="" />
                    <figcaption>{{ idea.translated_title }}</figcaption>
                </figure>
            </a>
        {% endfor %}
    {% else %}
        <p>There are no ideas yet.</p>
    {% endif %}
    <a href="{% url 'ideas:add_idea' %}" class="btn btn-primary">{% trans "Add idea" %}</a>
{% endblock %}
